<div class="login">
  
  <h2 class="login-header">Request Password Reset</h2>

  <%= simple_form_for :sessions, html: {id: "login-form", class: "login-container"}, url: sessions_request_password_path do |f| %>
    <p><%= f.input :email, placeholder: "Email" %></p>

    <p><%= f.button :submit, "Request Reset"%></p>
  <% end %>

</div>
