<h2> Hello <%= "#{@user.name} #{@user.last_name}" %>! </h2>

<p> Your order at Virtual Store has just been placed! The order ID is <%= @order.id %>, and the total cost is $<%= @order.total_cost %>. </p>

<p> Please make a deposit for the previous amount to the account 439874212 at Fantasy Bank, detailing the ID of your order. We will make sure to ship your order immediately after! </p>

<p> If you have any questions, please don't hesitate to send us an email to this address. </p>

<p> Best Regards, </p>