// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.user-info {
    a {
        text-decoration: none;
        color: #00acc1;
        &:hover {
            text-decoration: underline;
        }
    }
    p.indented {
        margin-left: 40px;
    }
}

.signup {
    width: 400px;
    margin: 16px auto;
    font-size: 16px;
    box-shadow: 0 0 0 1600px rgba(0, 0, 0, 0.65);
}

.signup-header,
.signup p {
    margin-top: 0;
    margin-bottom: 0;
}

.signup-header {
    background: #00ACC1;
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.signup-container {
    background: #ebebeb;
    padding: 12px;
}

.signup p {
    padding: 12px;
}

.signup input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
}

.simple_form p input[type='submit'] {
    margin-left: 0px;
}

#signup-form {
    display: block;
}

.signup input {
    background: #fff;
    border-color: #bbb;
    color: #555;
}

.signup input:focus {
    border-color: #888;
}

.signup input[type="submit"] {
    background: #00ACC1;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
}

.signup input[type="submit"]:hover {
    background: #0097A7;
}

#avatar-show {
    max-width: 100px;
    max-height: 100px;
    position: absolute;
    margin-left: 540px;
    margin-top: 10px;
    border: 2px solid #021a40;
    border-radius: 100px;
    background-color: #ffffff;
}

#user-thumb {
    max-width: 40px;
    max-height: 40px;
    border: 1px solid #021a40;
    border-radius: 100px;
    background-color: #ffffff;
}

table.user-show tr:nth-child(even) {
    background: none;
}