// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    table-layout: fixed;
    width: 96%;
}

#unfixed-table {
    table-layout: auto;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    border: 1px solid #ddd;
    padding: .35em;
}

table tr:nth-child(even) {
    background: #f8f8f8;
}

table th,
table td {
    padding: .625em;
    text-align: left;
}

table th {
    background: #999;
    color: #fff;
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

form.simple_form table {
    border: none;
    div.input {
        margin-bottom: 0px;
    }
    tr:nth-child(even) {
        background: None;
    }
    tr {
        border: none;
    }
}

form.simple_form table~.file-input {
    padding-left: 20px;
    padding-top: 10px;
}

form.simple_form table~.actions {
    padding-left: 20px;
}