<h2> Hello <%= "#{@user.name} #{@user.last_name}" %>! </h2>

<p> Your password has been reset. Your new password is </p>

<strong> <%= @password %> </strong>

<p>Please set your password to something different the next time you login to Virtual Store. </p>

<p> Cheers! </p>