(function() {
    $('#flash-message').remove()
    $('#flash-alert').remove()
    var flashdiv = document.createElement("div")
    flashdiv.id = "flash-alert"
    var button = document.createElement("BUTTON")
    flashdiv.innerHTML = "<button class='close-flash-button'><strong>x</strong></button><p><%= message %></p>"
    document.querySelector('body').appendChild(flashdiv)

    $(flashdiv).fadeIn('fast')

    $('.close-flash-button').click(delete_flash_message)

    <% if timeout > 0 %>
        setTimeout(fadeout_flash_message, <%= timeout %>)
        setTimeout(delete_flash_message, <%= timeout + 1500 %>)
    <% end %>

    function fadeout_flash_message() {
        $(flashdiv).fadeOut('normal')
    }

    function delete_flash_message() {
        $(flashdiv).remove()
    }
}())