  <div>
    <input type="text" id="filterInput" onkeyup="filter()" placeholder="Filter by name or tags...">    
  </div>
  <div>
    Filter by Price:
    <input type="number" id="low" class="priceFilter" onkeyup="filter()" onchange="filter()" min="0">
    -
    <input type="number" id="high" class="priceFilter" onchange="filter()" min="0">
  </div>

   <br>
   <div id="productCards">
      <% (@in_offer + @rest).each do |product| %>
        <%= render partial: 'card', locals: {product: product} %>
      <% end %>
    </div>
