
<div id="wrap">
  <h1>Products</h1>
	<div id="columns" class="columns_4">

   <% @products.each do |product| %>
      <figure>
        <%= image_tag("unavailable.jpg") %>
        <figcaption><%= product.name %></figcaption>
        <span class="price">$ <%= product.prize %></span>
        <a class="button" href="#">Add to cart</a>
      </figure>
    <% end %>
<br>
<%= link_to 'New Product', new_product_path %>
