<blockquote>
    <header>
    <div class="star-ratings-sprite">
        <span style="width:<%= review.score*20 %>%" class="star-ratings-sprite-rating"></span>
    </div>
    <span class="author">By <em><%= review.user.name %></em></span>
    </header>
    <p><%= review.content %></p>
</blockquote>