<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
   <footer>
    <hr>
    <div> Virtual Store by Grupo 6 </div>
  </footer>
</html>
